.cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card__badge {
  font-size: 12px;

  border-radius: var(--border-radius);
  padding: 3px 10px;

  color: white;
  background-color: var(--color-primary);
}
.card__title,
.card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.card__title {
  -webkit-line-clamp: 2;
}
.card__description {
  -webkit-line-clamp: 4;
}
